<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <h5 class="title display-1 centered" color="text">SekolahKu ID</h5>
    </div>
    <v-spacer></v-spacer>
    <v-btn class="pa-2" to="/setting" text icon>
      <v-icon>mdi-cog-outline</v-icon>
    </v-btn>
  </v-app-bar>
</template>
